---
layout: layouts/optin.njk
permalink: /mob-opt-in/
clientName: "Onyx & Aurum Barbershop"
senderName: "Onyx & Aurum Barbershop"
disclosureLine: "Onyx & Aurum Barbershop is operated by MOB LLC, formerly Montana's Okayest Barber."
formId: "YK4AOa23HvHovkOvY9Fp"
eleventyExcludeFromCollections: true
---
