---
layout: layouts/optin.njk
permalink: /mob-opt-in/
clientName: "Montana's Okayest Barber"
senderName: "Montana's Okayest Barber"
disclosureLine: "Montana's Okayest Barber is operated by MOB LLC."
formId: "YK4AOa23HvHovkOvY9Fp"
eleventyExcludeFromCollections: true
---
